li{
	list-style-type: none;
}

ul{
	margin-left: 0; 
	padding-left: 0;
}

body{
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  color: #fff;
  overflow-y: auto;
}

/* .container-fluid{ */
/* 	width: auto!important; */
/* } */

.navbar form{
	margin:0px;
	padding:0px;
}

.coordinates{
	text-align: left;
}

.hotelBtn{
	margin-top: 40px;
}

.std-text-color{
	color: #212529;
}

.fixed-input-group{
	width: 100px;
}